<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <title>Log In</title>
        <meta charset="UTF-8">
    </head>
    <body>

    <div class="container">
        <div class="content">
            <h1>Log In</h1>
            <form class="form" th:action="@{/personas}" method="post">

                <div class="txt_field1">
                    <input type="text" name="username" placeholder="Username">
                    <label>Username</label>
                </div>

                <div class="txt_field2">
                    <input type="password" name="password" placeholder="Password">
                    <label>Password</label>
                </div> 
                <input class="boton" type="submit" value="Log in">
            </form>
        </div>
    </div>
</body>
<!--    <h1>Please Log In</h1>-->
<div th:if="${param.error}">
    Invalid username and password.</div>
<div th:if="${param.logout}">
    You have been logged out.</div>

</html>